<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDir" value="${basedir}/App_Data/Logs/${shortdate}"/>
  <variable name="thread" value="${threadname}[${threadid}]"/>
  <variable name="webRequestContext" value="WEB REQUEST: ${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" />
  <variable name="exceptionContext" value="EXCEPTION OCCURRED\: ${exception:format=ToString,maxInnerExceptionLevel=10}"/>
  <variable name="fileLogLayout" value="${longdate} ${thread} ${logger}${newline}${uppercase:${level}}: ${message}${newline}CORRELATION: ${activityid}${newline}${webRequestContext}${newline}${onexception:${exceptionContext}${newline}}"/>

  <targets>

    <!--
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File" 
            name="logFile" 
            fileName="${logDir}/enigma-service.${shortdate}.log" 
            layout="${fileLogLayout}" />

    <target xsi:type="File" 
            name="errorLogFile" 
            fileName="${logDir}/enigma-service-errors.${shortdate}.log" 
            layout="${fileLogLayout}" />
  </targets>

  <rules>
    <logger name="Hangfire.*" minlevel="Info" writeTo="logFile" />
    <logger name="Hangfire.*" minlevel="Error" writeTo="errorLogFile" />
    <logger name="Enigma.*" minlevel="Trace" writeTo="logFile" />
    <logger name="Enigma.*" minlevel="Warn" writeTo="errorLogFile"/>
  </rules>
</nlog>
